{% extends 'base.html' %}

{% block content %}
<br>

<h3 style = "text-align:center" class='alert alert-primary'>Welcome to IITPKD General Hospital - A Community of Caring</h3>
<br>
<div class="container text-center">
	<div class="row" align = "center">
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
		  	    <img class="card-img-top" src="static/Patient_card.jpeg" alt="Card image cap">
		  	    <div class="card-body">
		  	        <h5 class="card-title">Patient Portal</h5>
		  	        <p class="card-text">For patient Registration, discharge procedures.</p>
		  	        <a href="/patient-index" class="btn btn-primary">Patient Portal</a>
		  	    </div>
			</div>
		</div>

		<div class="col-sm">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="static/Admin_card.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Admin Portal</h5>
					<p class="card-text">For hospital database maintainance.</p>
					<a href="/admin-index" class="btn btn-primary">Admin Portal</a>
				</div>
			</div>
		</div>


		<div class="col-sm">
			<div class="card" style="width: 18rem;">
			    <img class="card-img-top" src="static/Staff_card.jpg" alt="Card image cap">
		  	    <div class="card-body">
					<h5 class="card-title">Staff</h5>
					<p class="card-text">For staff details and other records</p>
					<a href="/staff-index" class="btn btn-primary">Staff Portal</a>
		  	    </div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="container">
<blockquote class="blockquote text-center alert alert-info">
	<footer class=""><cite title="Source Title"><h4>"Known for our expertise. Chosen for our care."</h4></cite></footer>
</blockquote>
</div>


{% endblock content %}
