{% extends 'base.html' %}

{% block content %}

<h2 style = "text-align:center">Welcome to IITPKD General Hospital!</h2>
<div class="container">
	<div class="row">
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
		  	    <img class="card-img-top" src="static/Patient_card.jpeg" alt="Card image cap">
		  	    <div class="card-body">
		  	        <h5 class="card-title">Patient Portal</h5>
		  	        <p class="card-text">For patient Registration, discharge procedures.</p>
		  	        <a href="#" class="btn btn-primary">Patient Portal</a>
		  	    </div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="static/Admin_card.jpg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Admin Portal</h5>
					<p class="card-text">For hospital database maintainance.</p>
					<a href="#" class="btn btn-primary">Admin Portal</a>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
			    <img class="card-img-top" src="static/Staff_card.jpg" alt="Card image cap">
		  	    <div class="card-body">
					<h5 class="card-title">Staff</h5>
					<p class="card-text">For staff details and other records</p>
					<a href="#" class="btn btn-primary">Staff Portal</a>
		  	    </div>
			</div>
		</div>
	</div>
</div>



{% endblock %}
