{% extends 'base.html' %}


{% block content %}

<br>
<div class="container text-center">
	<div class="row" align = "center">
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="static/Patient_card.jpeg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Patient Registration</h5>
					<p class="card-text">Get yourself registered Here.</p>
					<a href="/patient_reg_main" class="btn btn-primary">Register</a>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="static/Patient_card.jpeg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Patient Details</h5>
					<p class="card-text">All Patient information</p>
					<a href="/patients" class="btn btn-primary">View</a>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="static/Patient_card.jpeg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Appointments Details</h5>
					<p class="card-text">View and Register for Appointments</p>
					<a href="/book_appointment" class="btn btn-primary">Register</a>
					<a href="/appointments" class = "btn btn-primary">Appointments</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
